@import url(fonts/clear-sans.css);
html, body {
    margin: 0;
    padding: 0;
    background: #1b1b1d;
    color:rgb(213, 249, 255);
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
} 

title {
    font-size: 90px;
    width: fit-content;
    padding-right: 20px; padding-left: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 25px;
    text-align: center;
    color: #5ec3ca;
    display: block;
}

cap {
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
    color: #5ec3ca;
    text-align: center;
    display: block;
}

article {
    padding: 10px;
    margin: 25px auto;
    max-width: 694.2px;
    animation: appear 2s;
}

sub {
    font-size: 40px;
    color: rgb(144, 228, 228);
    display: block;
}

p {
    font-size: 20px;
    margin-left: 15px;
    padding: 5px;
}

details {
    font-size: 25px;
    margin-left: 15px;
    padding: 5px;
    width: fit-content;
    padding-right: 15px; padding-left: 15px;
    margin: auto;
    margin-top: 20px;
    border-radius: 25px;
    background-color: #23232b;
    display: inline-block;
}

details[open] summary ~ * {
    animation: summaryin 0.5s ease-in-out;
}

a {
    text-decoration: none;
    color:aqua;
}

figure {
    float: left;
    margin-right: 10px;
}

summary {
    margin: 10px;
    margin-left: 0;
}

lis {
    margin: 10px;
    margin-left: 30px;
    padding: 5px;
    display: list-item;
}

figcaption {
    text-align: center;
    font-weight: bold;
    padding: 2px;
    color: rgb(213, 249, 255);
}

@keyframes appear {
    0%    {opacity: 0; transform: scale(0.5) rotate(20deg);}
    90%    {opacity: 0.9; transform: scale(1.05)  rotate(0deg); }
    100%  {opacity: 1; transform: scale(1);}
}
@keyframes summaryin {
    0%    {opacity: 0; transform: rotate(2deg) translateX(-5%);}
    100%  {opacity: 1; transform: rotate(0deg) translateX(0%);}
}
@keyframes summaryin {
    0%    {opacity: 0; transform: rotate(2deg) translateX(-5%);}
    100%  {opacity: 1; transform: rotate(0deg) translateX(0%);}
}
@keyframes detailin {
    0%    {opacity: 1; }
    50%    {opacity: 0; }
    100%  {opacity: 1; }
}